/* \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/ *\
/* FOR ALL PAGES */

/* HEADER AREA */
/* STYLE/BORDER/COLOR FOR WHOLE HEADER AREA */
.headerClass {
    border-top: 2px solid #d0cdc7;
    border-bottom: 2px solid #d0cdc7;
    background-color: white;
    font-size: 24px;
}
.navbar-brand {
    color: white;
    background-color: #11ab9f;
    padding-top: 30px;
    padding-bottom: 25px;
}
.navbar {
    padding: 0;
}
/* POSITIONS & STYLES NAME */
.Jeannie {
    font-size: 40px;
    padding-left: 40px;
    font-family: 'Homemade Apple', cursive;
    display: inline-block;
    color: white;
    background-color: #11ab9f;
}
.Rose {
    font-size: 50px;
    font-family: 'Francois One', sans-serif;
    display: inline-block;
    padding-right: 40px;
    color: white;
    background-color: #11ab9f;
}
/* STYLES MENU LINKS */
.menuItems {
    /* border-right: 1px solid #e2e0dd; */
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Francois One', sans-serif;
    padding-top: 50px;
    padding-bottom: 25px;
    color: #a6acb7;
}
/* POSITIONS & STYLES SEPERATORS */
.navbar-nav li {
    display: inline;
    color: #a6acb7;
    /* margin-left: 25px;
    padding-left: 25px; */
    }
.navbar-light .navbar-nav .nav-link {
    color: #a6acb7;
}
.seperator {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 26px;
}


/* MAIN BODY AREA */
body {
    background-image: url("../images/b1.png");
}
.bodyWidth {
    /* padding: 0; */
    margin-left: 0;
}


/* CONNECT WITH ME AREA */
.connectwithmeWrapper {
    background-color: #fff;
    margin-top: 25px;
    /* width: 21%; */
    height: 100%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #e2e0dd;
}
.connectwithMe {
    font-size: 24px;
    width: 100%;
    /* font-style: bold; */
    border-bottom: 2px solid #efeeec;
    margin-bottom: 24px;
    padding-bottom: 24px;
    color: #11ab9f;
    font-family: 'Francois One', sans-serif;
}


/* FOOTER AREA */
footer {
    width: 100%;
    background-color: #666666;
    color: #aeaeae;
    text-align: Center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    border-top: 5px solid #56aaa4;
    font-family: 'Francois One', sans-serif;
}



/* \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/ *\
/* MAIN CONTENT AREA */

.aboutmeWrapper {
    background-color: #fff;
    margin-top: 25px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-bottom: 25px;
    font-size: 18px;
    border: 1px solid #e2e0dd;
}

.aboutMe {
    border-bottom: 3px solid #eeedeb;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 32px;
    font-style: bold;
    color: #11ab9f;
    font-family: 'Francois One', sans-serif;
}

.portrait {
    float: left;
    margin-right: 3%;
    margin-bottom: 1.5%;
}

p {
    font-size: 22px;
    line-height: 38px;
    color: #656565;
    margin-bottom: 18px;
}

ul {
    list-style-type: circle;
    color: #656565;
    margin-left: 5%;
    margin-bottom: 18px;
    line-height: 37px;
}

/* \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/ *\
/* Portfolio Page */

.portfolioWrapper {
    background-color: #fff;
    margin-top: 25px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-bottom: 25px;
    font-size: 18px;
    border: 1px solid #e2e0dd;
}

.Portfolio {
    border-bottom: 3px solid #eeedeb;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 32px;
    font-style: bold;
    color: #11ab9f;
    font-family: 'Francois One', sans-serif;
}

/* POSITIONING BANNERS OVER IMAGES & STYLING */
.portfolioRow1 {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    text-align: center;
    box-sizing: border-box;
}

.portfolioRow2 {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    text-align: center;
    box-sizing: border-box;
}

.portfolioRow3 {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}

.portfolio1 {
    /* position: relative; */
    /* box-sizing: border-box; */
    /* flex-shrink: 0; */
    /* height: auto; */
    /* overflow: hidden; */
}

.portfolio2 {
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    height: auto;
    overflow: hidden;
}

.portfolio3 {
    position: relative;
    margin-top: 25px;
    box-sizing: border-box;
    flex-shrink: 0;
    height: auto;
    overflow: hidden;
    
}

.portfolio4 {
    position: relative;
    margin-top: 25px;
    box-sizing: border-box;
    flex-shrink: 0;
    height: auto;
    overflow: hidden;
}

.portfolio5 {
    position: relative;
    margin-top: 25px;
    margin-bottom: 15px;
    flex-direction: row-reverse;
    box-sizing: border-box;
    flex-shrink: 0;
    height: auto;
    overflow: hidden;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
}

a.picture {
    position: absolute;
    top: 67%;
    text-align: center;
    background-color: #ff8207;
    width: 100%;
    left: 0;
    padding: .8em;
    box-sizing: border-box;
    color: white;
    font-family: 'Francois One', sans-serif;
    text-decoration: none;
    font-size: 1.8rem;
}

.card {
    margin-bottom: 1.5em;
    box-sizing: border-box;
    overflow: hidden;
}

/* \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/ *\
/* Contact Page */

.formContainer {
    margin-bottom: 30px;
}

.contactTitle {
    border-bottom: 3px solid #eeedeb;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 32px;
    font-style: bold;
    color: #11ab9f;
    font-family: 'Francois One', sans-serif;
}

/* FORM STYLING */
.form {
    font-family: 'Francois One', sans-serif;
    color: #a1a6ac;
    margin-top: 25px;
}

input[type=text], select, textarea {
    width: 100%;
    resize: vertical;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

::placeholder {
    color: #a1a6ac;
    opacity: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button[type=submit] {
    background-color: #56aaa4;
    color: white;
    padding: 12px 40px;
    margin-bottom: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Francois One', sans-serif;
}

button[type=submit]:hover {
    background-color: #3d7a76;
}




/* \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/ *\
/* \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/ *\
/* \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/ *\
/* RESPONSIVENESS */


.img-fluid {
    max-width: 100%;
    height: auto;
}



@media screen and (max-width: 440px) {
    .hide {
        display: none;
    }
    .card {
        margin-bottom: 30px;
    }
    a.picture {
        font-size: .6rem;
    }
    .hideSep {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    .hide {
        display: none;
    }
    a.picture {
        font-size: .9rem;
        padding-left: .9rem;
        padding-right: .9rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        top: 76.5%;
    }
    .hideSep {
        display: none;
    }
    .menuItems {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .Jeannie {
        padding-left: 15px;
    }
    .navbar-toggler {
        background-color: #56aaa4;
        text-decoration-color: #ffffff;
    }
    span:navbar-toggler-icon {
        border-color: #ffffff;
        color: #ffffff;
    }
    .connectwithmeWrapper {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1200px) {
    a.picture {
        font-size: 1.45rem;
      }
}




/* html {
    font-size: 1rem;
  } */
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    a.picture {
      font-size: 1.8rem;
    }
  }






